header {
  height: 80px;
  color: #fff;
  background-color: #455f9a;
  display: flex;
  align-items: center;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  margin-bottom: 40px;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__logo_container {
    display: flex;
    align-items: center;
    font-size: 30px;
  }
  .header__logo {
    font-size: 50px;
  }
  .header__search_container {
    width: 30%;
    display: flex;
    align-items: center;
  }
}
