@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap");
@import "components/header/headerStyle";
@import "components/input/inputStyle";
@import "components/main/mainStyle";
@import "components/todo/todoStyle";
@import "components/dropWindow/window";
@import "components/button/button";
@import "pages/authPage";

body {
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
}
ul {
  list-style-type: none;
}
* {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}
.wrapper {
  width: 1110px;
  margin: 0 auto;
}
